 <img src="https://neuvy-le-roi.fr/wp-content/uploads/2022/05/cinema.jpg" class="img-fluid mw-100">
<div class="position-absolute text-center text-white" style="top: 30%; left: 50%; transform: translate(-50%, -50%);">
<h1>Save any kind of movie</h1>
</div>

<h3 class="m-5">My lists</h3>
<div class="container">
  <div class="row">
 <% @lists.each do |list| %>
  <div class="col-4">
   <%= list.name.capitalize %>
   <div class="position-relative">
    <% if list.photo.attached? %>
        <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
   </div>
   <div class="position-absolute text-center text-white" style="top: 80%; left: 20%; transform: translate(-50%, -50%);">
        <%= link_to "Show this list", list %>
      </div>
    </div>
  </div>
<%= link_to "New list", new_list_path %>
    <% end %>
</div>
<% end %>
</div>
""
